<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css" type='text/scss'>
        <link rel="stylesheet" href="/styles/base.css" type='text/scss'>
        <link rel="stylesheet" href="/styles/header.css" type='text/scss'>
        <link rel="stylesheet" href="/styles/form.css" type='text/scss'>
        <link rel="stylesheet" href="/styles/footer.css" type='text/scss'>
    </head>
    <body>
        <header>
            <div id="leftBar">
            </div>
            <div id="centerBar">
                <div id="subBar1">
                    <form class="" onsubmit="return handleSubmit(event)">
                        <input id="name" type="text" name="input" value="" placeholder="Name">
                    </form>
                        <button id="getArticle" onclick="return Client.handleGetArticle(event)">Get Article</button>
                        <button id="evaluate" onclick="return Client.handleEvaluate(event)">Evaluate</button>
                </div>
                <div id="subBar2">
                    <button id="checkAll" onclick="return Client.handleCheckAll()">Check All</button>
                    <button id="uncheckAll" onclick="return Client.handleUncheckAll()">Uncheck All</button>
                    <button id="GotoTop" onclick="return Client.handleGoToTop()">Go To Top</button>
                    <button id="GotoBottom" onclick="return Client.handleGoToBottom()">Go To Bottom</button>
                </div>
            </div>
            <div id="rightBar">
                <h3>Reference API: </h3>
            </div>
        </header>

        <main>
            <section class="instr" id="instrWelcome">
                <h1>Welcome to evaluate news NLP project 🤗</h1>
                <p>Hi, This is cjlee93. I'm implementing web app which get article (or blog) from other website, trim the article, and run natural language processing (NLP) using meaningCloud API. </p>
            </section>
            <section class="instr" id="instrGetArticle">
                <p> For trial of the web app, please insert URL of article (or blog) and click 'Get Article' button. </p>
            </section>
            <section class="instr" id="instrEvaluate">
                <p> For trimming of the article, please uncheck (or remove) paragraphs which are not necessary and click 'Evaluate' button </p>
            </section>
            <section class="instr" id="instrLoading">
                <p> Loading... </p>
            </section>
            <section id="evaluation">
            </section>

            <article>
            </article>
        </main>

        <footer>
            <p>Some copyrights reserved cjlee93 (2022)</p>
        </footer>

    </body>
    <script>
        // Check that service workers are supported
        if (window.location.href.localeCompare('http://localhost:8080') == 0){
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        }
    </script>
</html>
