<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css" type='text/scss'>
        <link rel="stylesheet" href="/styles/base.css" type='text/scss'>
        <link rel="stylesheet" href="/styles/header.css" type='text/scss'>
        <link rel="stylesheet" href="/styles/form.css" type='text/scss'>
        <link rel="stylesheet" href="/styles/footer.css" type='text/scss'>
    </head>
    <body>
        <header>
            <div id="leftBar">
            </div>
            <div id="centerBar">
                <div id="subBar1">
                    <form class="" onsubmit="return handleSubmit(event)">
                        <input id="name" type="text" name="input" value="" placeholder="Name">
                    </form>
                        <button id="getArticle" onclick="return Client.handleGetArticle(event)">Get Article</button>
                        <button id="evaluate" onclick="return Client.handleEvaluate(event)">Evaluate</button>
                </div>
                <div id="subBar2">
                    <button id="checkAll" onclick="return Client.handleCheckAll()">Check All</button>
                    <button id="uncheckAll" onclick="return Client.handleUncheckAll()">Uncheck All</button>
                    <button id="GotoTop" onclick="return Client.handleGoToTop()">Go To Top</button>
                    <button id="GotoBottom" onclick="return Client.handleGoToBottom()">Go To Bottom</button>
                </div>
            </div>
            <div id="rightBar">
                <h3>Powered By</h3>
            </div>
        </header>

        <main>
            <section>
                <h1>Welcome to evaluate news NLP project</h1>
                <p>Hi, This is cjlee93. I'm implementing my practice web app. For trial of the web app, please insert address of news or blog article and click 'Get Article.' </p>
            </section>
            <section>
                
            </section>
            <section id="evaluation">
            </section>

            <article>
            </article>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
    <!--<script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
       </script>-->
</html>
